@model IEnumerable<LAB3.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã SP</th>
            <th>Tên SP</th>
            <th>Giá (VND)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@String.Format("{0:N0}", item.Price)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
